/* Adapted from http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-ems.htm */

/* General styles */
body {
    margin:0;
    padding:0;
    border:0;/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions of Internet Explorer */
    font-size:90%;

}
a {
    color:#369;
    text-decoration:none;
}
a:hover {
    color:#fff;
    background:#369;
}
h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
p {
    margin:.4em 0 .8em 0;
    padding:0;
}
img {
    margin:10px 0 5px;
}

input,textarea {
    border: 1px solid #bbb;
    color:#555;
    display:inline;
    margin: 0 0 0 3px;
}


/* Header styles */
#header {
    clear:both;
    float:left;
    width:100%;
    text-align:right;
}
#header {
    border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}
#header ul {
    clear:left;
    float:left;
    width:100%;
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    background:#eee;
    color:#000;
    text-decoration:none;
    position:relative;
    left:15px;
    line-height:1.3em;
}
#header ul li a:hover {
    background:#369;
    color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
#header ul li a span {
    display:block;
}

#title {
    font-size:large;
    text-align:left;
    padding-left:2em;
    padding-bottom:0.5em;
}

#subtitle {
    font-size:small;
    padding-top:0.2em;
}


/* 'widths' sub menu */
#layoutdims {
    clear:both;
    background:#eee;
    border-top:4px solid #000;
    margin:0;
    padding:6px 15px !important;
    text-align:right;
}
/* column container */
.colmask {
    position:relative;/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;/* width of whole page */
    overflow:hidden;/* This chops off any overhanging divs */
}
/* 3 column settings */
.threecol {
    background:#ddd;    /* Right column background colour */
}
.threecol .colmid {
    float:left;
    width:200%;
    margin-left:-22em; /* Width of right column */
    position:relative;
    right:100%;
    background:#fff;    /* Centre column background colour */
}
.threecol .colleft {
    float:left;
    width:100%;
    margin-left:-50%;
    position:relative;
    left:40em;         /* Left column width + right column width */
    background:#ddd;    /* Left column background colour */
}
.threecol .col1wrap {
    float:left;
    width:50%;
    position:relative;
    right:18em;        /* Width of left column */
    padding-bottom:1em; /* Centre column bottom padding. Leave it out if it's zero */
}
.threecol .col1 {
    margin:1em 23em 0 19em;     /* Centre column side padding:
                          Left padding = left column width + centre column left padding width
                          Right padding = right column width + centre column right padding width */
    position:relative;
    left:200%;
    overflow:hidden;
}
.threecol .col2 {
    float:left;
    float:right;/* This overrides the float:left above */
    width:16em;        /* Width of left column content (left column width minus left and right padding) */
    position:relative;
    right:1em;         /* Width of the left-had side padding on the left column */
}
.threecol .col3 {
    float:left;
    float:right;/* This overrides the float:left above */
    width:20em;        /* Width of right column content (right column width minus left and right padding) */
    margin-right:3em;  /* Width of right column right-hand padding + left column left and right padding */
    position:relative;
    left:50%;
}

.threecol .col2 h1,
.threecol .col2 h2,
.threecol .col2 h3,
.threecol .col3 h1,
.threecol .col3 h2,
.threecol .col3 h3 {
    color:#555;
    background:#f5f5f5;
    text-align:center;
    font-family: arial, serif;
}

/* Footer styles */
#footer {
    clear:both;
    float:left;
    width:100%;
    border-top:1px solid #000;
    text-align:center;

}
#footer p {
    padding:10px;
    margin:0;
}
 
/* Sidebar content blocks */

span.left {
    float:left;
}

span.right {
    float:right;
}

.sidebarcontent {
    background-color:white;
    margin: 0.2em 0;
    padding: 0.3em;
    overflow:hidden;
    color:#555;
}


/* centre panel content blocks */

.warning {
    background-color:#FFE0DF;
    margin: 0.2em 0;
    padding: 0.5em;    
    text-align: left;
    overflow:hidden;
    font-weight:bold;
}

.centreinfobox {
    background-color: #f5f5f5;
    margin: 0.2em 0;
    padding: 0.5em;    
    text-align: left;
    overflow:hidden;
}

.bigcentreinfobox {
    background-color: #f5f5f5;
    text-align: left;
    overflow:hidden;
    margin: 1.5em;
    padding: 1.5em;
}
.bigcentreinfobox a {
    font-size:large;
}
.paddedtext {
    padding: 0 1em;
}
.centrecontent {
    border-style:solid;
    border-width:1px;
    border-color:#eee;
    margin: 0.2em 0;
    padding: 0.5em;
}

table.side-table {
    font-size:small;
}

table.main-table {
    width:100%;
}

table.main-table th {
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:#eee;
    margin: 0.2em 0;
    padding: 0.5em;
    background: #eee;
}

table.main-table td {
    text-align:center;
    border-style:solid;
    border-width:1px;
    border-color:#eee;
    margin: 0.2em 0;
    padding: 0.5em;

}


.genericform form p {
    border-style:solid;
    border-width:1px;
    border-color:#eee;
    margin: 0.2em 0;
    padding: 0.5em;
    color: #777;
}

.error {
    background-color:#ffcccc;
}

.genericform form input,textarea {
    display:block;
    margin: 0.5em 0em 0.5em 2em;
}

.genericform form label {
    color: #333;
}

.fullform form input, textarea {
    margin:1px;
}
