{% extends "h1ds/base.html" %}
{% block controlbar %}
<ul>
<li class="first{% if not previous %} inactive{% endif%}">{% if previous %}<a href="{{previous}}">previous</a>{% else %}previous{% endif %}
<li class="{% if not next %}inactive{% endif%}">{% if next %}<a href="{{next}}">next</a>{% else %}next{% endif %}
<li>
  <form id="h1ds-go-to-shot" class="inline-form" action="{% url 'h1ds-request-shot' %}" method="post">{% csrf_token %}
    <input type="hidden" name="reqpath" value="{{request.get_full_path|safe}}">
    <input type="text" id="requested-shot" name="go_to_shot" placeholder="shot #" size="8">
  </form>
</li>

<!--<li class="inactive">page x of x -->
</ul>
{% endblock controlbar%}
{% block content %}
<div class="shot-list">
<ul>
{% for shot in results %}
<li><a href="{% url 'shot-detail' device=shot.device.slug shot=shot.number %}">{{shot.number}}</a>
{% endfor %}
</ul>
</div>
{% endblock content %}

