# ignore emacs backups
*~
# compiled python binaries
*.pyc
# other binaries
*.so
*.o
# emacs hash filenames
\#*
*.db

# links setup for static files in in django 1.2 version of h1ds
h1ds_core
h1ds_mdsplus

celery
celerybeat-schedule

local_settings.py

conf/apache/h1ds_staging.conf
conf/apache/h1ds_production.conf

# ignore files with custom settings
# the templates for these files are kept in the repo
# but not the customised versions.
fabfile.py
settings_development.py
settings_staging.py
settings_production.py


rabbitmq-signing-key-public.asc
