# ignore emacs backups
*~
# compiled python binaries
*.pyc
# other binaries
*.so
*.o
# emacs hash filenames
\#*
*.db

celery
celerybeat-schedule

local_settings.py

h1ds/h1ds/conf/apache/h1ds_staging.conf
h1ds/h1ds/conf/apache/h1ds_production.conf

# ignore files with custom settings
# the templates for these files are kept in the repo
# but not the customised versions.
fabfile.py
h1ds/h1ds/settings/development.py
h1ds/h1ds/settings/staging.py
h1ds/h1ds/settings/production.py


rabbitmq-signing-key-public.asc

# don't include built sphinx docs.
docs/_build

h1ds/h1ds/moin.staging.sh
h1ds/h1ds/moin.production.sh
h1ds/h1ds/gunicorn.staging.sh
h1ds/h1ds/gunicorn.production.sh

h1ds/h1ds/conf/nginx/h1ds_staging.conf
h1ds/h1ds/conf/nginx/h1ds_production.conf
h1ds/h1ds/conf/supervisord.staging.conf
h1ds/h1ds/conf/supervisord.production.conf

h1ds/log
h1ds/static
h1ds/wiki

h1ds/test_mds_data/

h1ds/serverfiles/
