supervisor
django==1.3.1
http://people.physics.anu.edu.au/~dgp112/python-mdsplus/MDSplus-0.5.tgz
South==0.7.3
celery==2.4.5
# django-celery==2.4.1
# latest django celery has a bug in migrations, checkout the bugfixed version - we'll swap 
# back stable version when a new one comes out.
-e git+git://github.com/ask/django-celery.git@346854806cfd5384453395a97eb676e4d6973d98#egg=djcelery
django-kombu
python-openid==2.2.5
-e git://github.com/dpretty/django-concurrent-server.git#egg=django_concurrent_server-dev
-e git+git://code.h1svr.anu.edu.au/h1ds/django-openid-auth.git#egg=django_openid_auth-dev
-e git+git://code.h1svr.anu.edu.au/h1ds/h1ds_configdb.git#egg=h1ds_configdb-dev
-e git+git://code.h1svr.anu.edu.au/h1ds/h1ds_core.git#egg=h1ds_core-dev
-e git+git://code.h1svr.anu.edu.au/h1ds/h1ds_mdsplus.git#egg=h1ds_mdsplus-dev
-e git+git://code.h1svr.anu.edu.au/h1ds/h1ds_summary.git#egg=h1ds_summary-dev
numpy==1.6.1
moin==1.9.2
matplotlib
