from h1ds.settings import *

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(VENV_DIR, 'db', 'h1ds_development.db')
            }
    }
