from h1ds.settings import *

DEBUG = False

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(VENV_DIR, 'db', 'h1ds_production.db')
            }
    }

VERBOSE=0
