{% extends "h1ds_core/base.html" %}

{% block content %}
{% block summarycontent%}{% endblock summarycontent %}

{% endblock content %}

{% block rightpanel %}
{% if perms.h1ds_summary.add_summaryattribute %}
<h3>add attribute</h3>
<div class="sidebarcontent">
<FORM action="{% url get-summary-attribute-form-from-url %}" method="post">{% csrf_token %}
    <span class="left">url</span>
    <span class="right">
    <INPUT type="text" size=20 id="url" name="url">
    <INPUT title="add attribute" type="submit" value="&#x21b5;"></span>
 </FORM>
</div>
{% endif %}
{% endblock rightpanel %}
