{% extends "h1ds_core/base.html"%}

{% block content %}
<div class="column w20" id="configdb-column-left">
  <!--  This generates  the 'select  shot'  form in  the top  left of  the
	page. -->
  <div class="portlet" id="configdb-portlet-seletion">
    <div class="portlet-header">select config</div>
    <div class="portlet-content">
      <div class="sidebarcontent">
	<form action="" method="post">{% csrf_token %}
	  {{ form }}
	  <input type=submit>
	</form>
      </div>
    </div>
  </div>
</div>
<div class="column w80" id="configdb-column-data">
{% block configdb_content %}{% endblock %}
</div>
{% endblock %}
