{% load h1ds_headfoot %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
  <head> 
    <title>{% block title%}{% h1ds_title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}h1ds_core/css/base.css" media="screen">
	<script type="text/javascript" src="{{ MEDIA_URL }}h1ds_core/js/jquery-1.5.2.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}h1ds_core/js/jquery-ui-1.8.11.custom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}h1ds_core/js/tiny_mce/tiny_mce.js"></script> 
	<!--[if IE]><script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}h1ds_core/js/flot/excanvas.pack.js"></script><![endif]-->
	<script type="text/javascript" src="{{ MEDIA_URL }}h1ds_core/js/flot/jquery.flot.js"></script> 
	<script type="text/javascript" src="{{ MEDIA_URL }}h1ds_core/js/h1ds.js"></script> 
	<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}h1ds_core/js/flot/jquery.flot.navigate.js"></script> 
	{% block extrahead %}{% endblock %}
   </head>
   <body>
     <div id="header">
       {% if user.is_authenticated %}logged in as {{ user.username }} <a href="/interface/profile/{{user.username}}">[edit]</a> // <a href="/logout">logout</a> {% else %}<a href="/openid/login">Log in </a>{% endif %}</a>
       {% h1ds_header %}
   </div>
     <div class="colmask threecol">
       <div class="colmid">
	 <div class="colleft">
	   <div class="col1">
	     {% block content %}
	     {% endblock %}
	   </div>
	   <div class="col2">
	     {% block leftpanel%}
	     {% endblock %}
	   </div>
	   <div class="col3">
	     {% block rightpanel %}
	     {% endblock %}
	   </div>
	 </div>
       </div>
     </div>
     <div id="footer">
       {% h1ds_footer %}
     </div>

{% block extrascript %}
{% endblock %}
   </body>
</html>
    
