{% extends "h1ds_core/base.html" %}

<!-- This loads the 'display_data' and 'show_filter' template tags, used
for displaying data and H1DS data filters in the template. -->
{% load h1dsdata %}

<!-- This loads the 'table' template tag, used for dynamic generation of
HTML tables. -->
{% load templatetable %}

{% block extrahead %}
{% for name, content in html_metadata.items %}
<meta name="{{name}}" content="{{content}}" />{% endfor%}{% endblock%}
<div class="fixed-centre">
{% block content %}
<div class="column w20" id="h1ds-column-left">
  <!--  This generates  the 'select  shot'  form in  the top  left of  the
	page. -->
  <div class="portlet" id="h1ds-portlet-shot">
    <div class="portlet-header">shot</div>
    <div class="portlet-content">
      <div id="h1ds-shot-controller">
	<div class="sidebarcontent">
	  <FORM class="inline-form" action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
	    <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	    <INPUT type="text" id="requested-shot" name="go_to_shot" placeholder="shot #" size="8">
	  </FORM>
	</div>
	<div class="sidebarcontent">
	  <div id="h1ds-shot-previous">	<FORM action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
	      <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	      <INPUT type="hidden" name="go_to_shot" value="{{node.url_processor.shot|add:'-1'}}">
	      <INPUT title="go to shot" type="submit" value="<">
	    </FORM>
	  </div>
	  <div id="h1ds-shot-current"><strong> {{node.url_processor.shot}} </strong></div>
	  <div id="h1ds-shot-next">	
	    <FORM action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
	      <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	      <INPUT type="hidden" name="go_to_shot" value="{{node.url_processor.shot|add:'1'}}">
	      <INPUT title="go to shot" type="submit" value=">">
	    </FORM>
	  </div>
	</div>
      </div>
      <div id="h1ds-track-latest-shot"></div>
      <div id="h1ds-toggle-track-latest-shot"></div>
    </div>
  </div>


  <!--  Navigation of data  trees. -->
  <div class="portlet" id="h1ds-portlet-trees">
    <div class="portlet-header">navigation</div>
    <div class="portlet-content">
      <ul>
	<!-- current tree -->
	{% for a in node.get_ancestors %}
	<li class="treenode"><a href="{{a.url_processor.get_url}}">{{ a.get_short_name }}</a><ul>
	{% endfor %}
	<li class="treenode current">{{ node.get_short_name }}
	  <ul>
	  {% for c in node.get_children %}
	  <li> <a href="{{c.url_processor.get_url}}">{{ c.get_short_name }}</a> </li>
	  {% endfor %}
	  </ul>
	  {% for i in node.get_ancestors %}</ul>{% endfor %}
	</li>
	{% for t in trees.other %}
	<li class="datatree">{{ t }}</li>
	{% endfor%}
      </ul>
    </div>
  </div>
</div>


<!-- *************************************************************** -->
<!-- ****** Data *************************************************** -->
<!-- *************************************************************** -->


<div class="column w60" id="h1ds-column-centre">
  <div class="portlet" id="h1ds-portlet-data">
    <div class="portlet-header">data</div>
    <div class="portlet-content">
      {% block node_data %}{% endblock node_data %}
    </div>
  </div> <!-- end portlet -->
</div> <!-- end column -->



<!-- *************************************************************** -->
<!-- ****** Right panel ******************************************** -->
<!-- *************************************************************** -->


<div class="column w20" id="h1ds-column-right">
  <!-- If there is a summary data (SQL) dtype associated with the filtered
       data then display a form for adding the data to the summary database -->
  {% if perms.h1ds_summary.add_summaryattribute %}
  {% if node.get_summary_dtype %}
  <div class="portlet" id="h1ds-portlet-summarydb">
    <div class="portlet-header">add to summary db</div>
    <div class="portlet-content">
      <FORM action="{% url "get-summary-attribute-form-from-url" %}" method="post">{% csrf_token %}
	<span class="left">add</span>
	<span class="right">
	  <INPUT type="hidden" id="url" name="url" value="{% get_absolute_uri %}">
	  <INPUT title="add attribute" type="submit" value="&#x21b5;"></span>
      </FORM>
    </div>
  </div>
  {% endif %}
  {% endif %}

  <!--  If the  data has  been filtered,  display the  applied  filters in
	order, with option to adjust or remove each filter -->
  {% if node.filter_history %}
  <div class="portlet" id="h1ds-portlet-activefilters">
    <div class="portlet-header">active filters</div>
    <div class="portlet-content">
      {% show_active_filters node %}
    </div>
  </div>
  {% endif %}

  <!-- List the views (H1DS views such as html, json, etc, not django view
       functions) available for the node data type -->
  <div class="portlet" id="h1ds-portlet-views">
    <div class="portlet-header">alternative formats</div>
    <div class="portlet-content">
      {% for format in alt_formats %}{% show_view format %} {% endfor %}
    </div>
  </div>

  <div class="portlet" id="h1ds-portlet-savedsignals">
    <div class="portlet-header">my signals</div>
    <div class="portlet-content">
      {% if user.is_authenticated %}
      <form method="post" action="{% url "h1ds-add-user-signal" %}">{% csrf_token %}
	{{ user_signal_form.name }}
	<INPUT type="hidden" id="url" name="url" value="{% get_absolute_uri %}">
	<INPUT title="add" type="submit" value="+">
      </form>
      <div class="sidebar-section">
      {% for sig in user_signals %}
      <div class="sidebar-section-item">
	{% if sig.is_fixed_to_shot %}
	<a href="{% get_url_for_shot sig.url sig.shot %}">{{sig}}</a>[{{sig.shot}}]
	{% else %}
	<a href="{% get_url_for_shot sig.url node.url_processor.shot %}">{{sig}}</a>
	{% endif %}

	<div class="sidebar-section-item-delete">
	  <FORM action="{% url "h1ds-delete-user-signal" sig.pk %}" method="post">{% csrf_token %}
	    <INPUT type="hidden" id="url" name="url" value="{% get_absolute_uri %}">
	    <INPUT title="go to shot" type="submit" value="-">
	  </FORM>
	</div>
	<div class="sidebar-section-item-edit">
	  <a href="{% url "h1ds-update-user-signal" sig.pk %}?redirect_url={% get_absolute_uri %}">edit</a>
	</div>

      </div>
      {% endfor %}
      </div>
      {% else %}
      Log in to save and restore signals.
      {% endif %}
    </div>
  </div>

  <!--  List the filters  which can  be applied  to the  (possibly already
	filtered) data -->
  <div class="portlet" id="h1ds-portlet-filters">
    <div class="portlet-header">filters</div>
    <div class="portlet-content">
      {% show_filters node %}
    </div>
  </div>
</div>
{% endblock content %}
{% block rightpanel %}
{% block nodemeta %}{% endblock nodemeta %}
</div>
{% endblock %}
