{% extends "h1ds_mdsplus/mdsplus_base.html" %}

{% load templatetable %}
{% block leftpanel %}
<div class="mbox">
<div class="sidebarcontent">
<FORM action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
    <span class="left">select shot</span>
    <span class="right">
    <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
    <INPUT type="text" size=5 id="requested-shot" name="go_to_shot">
    <INPUT title="go to shot" type="submit" value="&#x21b5;"></span>
 </FORM>
</div>
<div class="mbox">
<h3>children</h3>
<table width="100%" class="side-table">
  {% table item children 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>
</div>
<div class="mbox">
<h3>members</h3>
<table width="100%" class="side-table">
  {% table item members 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>
</div>
<div class="mbox">
<h3>tags</h3>
<table width="100%" class="side-table">
  {% table item tagnames 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>
</div>
<div class="mbox">
<h3>trees</h3>
<table width="100%" class="side-table">
  {% table item treelinks 2 %}
  {% if table.startrow %}
  {% if table.oddrow %}
  <tr class="highlight">
    {% else %}
  <tr>
    {% endif %}
    {% endif %}
    {% if table.lastcellinrow %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
      {% else %}
    <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
      {% endif %}
      <div class="options displayNone"></div>
      <a href="{{item.1}}">{{item.0}}</a>
    </td>
    {% if table.endrow %}
  </tr>
  {% endif %}
  {% endtable %}
</table>
</div>
</div>
{% endblock %}


{% block mdscontent %}
<div class="mbox">
<div class="centreinfobox"><span class="right"><strong>{{path_breadcrumbs|safe}}</strong></span>
<span class="left">	<FORM action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
<INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	    <INPUT type="hidden" name="go_to_shot" value="{{shot|add:'-1'}}">
	    <INPUT title="go to shot" type="submit" value="<">
	</FORM></span>
<span class="left paddedtext"><strong> {{shot}} </strong></span>

<span class="left">	<FORM action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
	    <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	    <INPUT type="hidden" name="go_to_shot" value="{{shot|add:'1'}}">
	    <INPUT title="go to shot" type="submit" value=">">
	</FORM></span>
</div>
{% block node_error %}{% endblock %}
{% block node_data %}
{% endblock %}
</div>
{% endblock %}

{% block mdsmeta %}
<div class="mbox">
{{dtype}}
{{filtered_dtype}}
{% if summary_dtype %}
<div class="sidebarcontent">
<FORM action="{% url "get-summary-attribute-form-from-url" %}" method="post">{% csrf_token %}
    <span class="left">add to summary database</span>
    <span class="right">
    <INPUT type="hidden" id="url" name="url" value="{{absolute_uri|safe}}">
    <INPUT title="add attribute" type="submit" value="&#x21b5;"></span>
 </FORM>
</div>
{% endif %}
{% if filter_list %}
<h3>applied filters</h3>{% for applied_filter in filter_list %}{{applied_filter|safe}}{% endfor %}
{% endif %}
<h3>views </h3>{% for node_view_name, node_view_link in f_node_views %}<a href="{{node_view_link}}">{{node_view_name}}</a> {% endfor %}
<h3>filters</h3>{% for fdict in f_node_filters %}{{fdict.t|safe}}{% endfor%}
</div>
{% endblock mdsmeta%}


