{% extends "h1ds_core/base_single_col.html"%}

{% block full_content %}
    <div class="colmask threecol">
      <div class="colmid">
	<div class="colleft">
	  <div class="col1wrap">
	    <div class="col1">
	      {% block warning %}{% endblock warning %}
	      {% block content %}
	      {% endblock %}
	    </div>
	  </div>
	  <div class="col2">
	    {% block leftpanel%}
	    {% endblock %}
	  </div>
	  <div class="col3">
	    {% block rightpanel %}
	    {% endblock %}
	  </div>
	</div>
      </div>
    </div>
{% endblock %}
