{% extends "h1ds_core/mdsplus_base.html" %}

<!-- *************************************************************** -->
<!-- ****** Load template tags ************************************* -->
<!-- *************************************************************** -->

<!-- This loads the 'display_data' and 'show_filter' template tags, used
for displaying mds data and H1DS data filters in the template. -->
{% load mdsdata %}

<!-- This loads the 'table' template tag, used for dynamic generation of
HTML tables. -->
{% load templatetable %}

<!-- *************************************************************** -->
<!-- ****** Left panel ********************************************* -->
<!-- *************************************************************** -->

<!-- The left panel includes navigation links for the mdsplus tree: shot
selection,  links to  node descendants  (members and  children), mdsplus
tags and other mdsplus trees. -->
{% block mdscontent %}
<div class="column w20" id="mds-column-left">
  <!--  This generates  the 'select  shot'  form in  the top  left of  the
	page. -->
  <div class="portlet" id="mds-portlet-shot">
    <div class="portlet-header">shot</div>
    <div class="portlet-content">
      <div id="mds-shot-controller">
	<div class="sidebarcontent">
	  <FORM class="inline-form" action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
	    <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	    <INPUT type="text" id="requested-shot" name="go_to_shot" placeholder="shot #" size="8">
	  </FORM>
	</div>
	<div class="sidebarcontent">
	  <div id="mds-shot-previous">	<FORM action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
	      <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	      <INPUT type="hidden" name="go_to_shot" value="{{mdsnode.shot|add:'-1'}}">
	      <INPUT title="go to shot" type="submit" value="<">
	    </FORM>
	  </div>
	  <div id="mds-shot-current"><strong> {{mdsnode.shot}} </strong></div>
	  <div id="mds-shot-next">	
	    <FORM action="{% url "h1ds-request-shot" %}" method="post">{% csrf_token %}
	      <INPUT type="hidden" name="reqpath" value="{{request_fullpath|safe}}">
	      <INPUT type="hidden" name="go_to_shot" value="{{mdsnode.shot|add:'1'}}">
	      <INPUT title="go to shot" type="submit" value=">">
	    </FORM>
	  </div>
	</div>
      </div>
      <div id="mds-track-latest-shot"></div>
      <div id="mds-toggle-track-latest-shot"></div>
    </div>
  </div>

  <!-- Generate a table with links to child nodes. -->
  <div class="portlet" id="mds-portlet-children">
    <div class="portlet-header">children</div>
    <div class="portlet-content">
      <table class="side-table">
	{% table item mdsnode.children 2 %}
	{% if table.startrow %}
	{% if table.oddrow %}
	<tr class="highlight">
	  {% else %}
	<tr>
	  {% endif %}
	  {% endif %}
	  {% if table.lastcellinrow %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
	    {% else %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
	    {% endif %}
	    <div class="options displayNone"></div>
	    <a href="{{item.1}}">{{item.0}}</a>
	  </td>
	  {% if table.endrow %}
	</tr>
	{% endif %}
	{% endtable %}
      </table>
    </div>
  </div>

  <!-- Generate  a table with links to  member nodes. -->
  <div class="portlet" id="mds-portlet-members">
    <div class="portlet-header">members</div>
    <div class="portlet-content">
      <table class="side-table">
	{% table item mdsnode.members 2 %}
	{% if table.startrow %}
	{% if table.oddrow %}
	<tr class="highlight">
	  {% else %}
	<tr>
	  {% endif %}
	  {% endif %}
	  {% if table.lastcellinrow %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
	    {% else %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
	    {% endif %}
	    <div class="options displayNone"></div>
	    <a href="{{item.1}}">{{item.0}}</a>
	  </td>
	  {% if table.endrow %}
	</tr>
	{% endif %}
	{% endtable %}
      </table>
    </div>
  </div>

  <!-- Generate a table with links to mdsplus tags. -->
  <div class="portlet" id="mds-portlet-tags">
    <div class="portlet-header">tags</div>
    <div class="portlet-content">
      <table class="side-table">
	{% table item mdsnode.tagnames 2 %}
	{% if table.startrow %}
	{% if table.oddrow %}
	<tr class="highlight">
	  {% else %}
	<tr>
	  {% endif %}
	  {% endif %}
	  {% if table.lastcellinrow %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
	    {% else %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
	    {% endif %}
	    <div class="options displayNone"></div>
	    <a href="{{item.1}}">{{item.0}}</a>
	  </td>
	  {% if table.endrow %}
	</tr>
	{% endif %}
	{% endtable %}
      </table>
    </div>
  </div>

  <!--  Generate  a  table  with  links to  mdsplus  trees  recognised  by
	H1DS. -->
  <div class="portlet" id="mds-portlet-trees">
    <div class="portlet-header">trees</div>
    <div class="portlet-content">
      <table class="side-table">
	{% table item mdsnode.treelinks 2 %}
	{% if table.startrow %}
	{% if table.oddrow %}
	<tr class="highlight">
	  {% else %}
	<tr>
	  {% endif %}
	  {% endif %}
	  {% if table.lastcellinrow %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}cellAutoAdjust">
	    {% else %}
	  <td class="{% if table.oddrow %}highlightableCell {% endif %}left cellAutoAdjust">
	    {% endif %}
	    <div class="options displayNone"></div>
	    <a href="{{item.1}}">{{item.0}}</a>
	  </td>
	  {% if table.endrow %}
	</tr>
	{% endif %}
	{% endtable %}
      </table>
    </div>
  </div>
</div>


<!-- *************************************************************** -->
<!-- ****** MDSplus data ******************************************* -->
<!-- *************************************************************** -->


<div class="column w60" id="mds-column-centre">
  <div class="portlet" id="mds-portlet-path">
    <div class="portlet-header">path</div>
    <div class="portlet-content">{{mdsnode.path_breadcrumbs|safe}}</div>
    {% block node_error %}{% endblock node_error %}
  </div>
  <div class="portlet" id="mds-portlet-data">
    <div class="portlet-header">data</div>
    <div class="portlet-content">
      <p>This node has no data.</p>
    </div>
  </div> <!-- end portlet -->
</div> <!-- end column -->



<!-- *************************************************************** -->
<!-- ****** Right panel ******************************************** -->
<!-- *************************************************************** -->


<div class="column w20" id="mds-column-right">
  <!-- If there is a summary data (SQL) dtype associated with the filtered
       data then display a form for adding the data to the summary database -->
  {% if perms.h1ds_summary.add_summaryattribute %}
  {% if mdsnode.data.summary_dtype %}
  <div class="portlet" id="mds-portlet-summarydb">
    <div class="portlet-header">add to summary db</div>
    <div class="portlet-content">
      <FORM action="{% url "get-summary-attribute-form-from-url" %}" method="post">{% csrf_token %}
	<span class="left">add</span>
	<span class="right">
	  <INPUT type="hidden" id="url" name="url" value="{% get_absolute_uri %}">
	  <INPUT title="add attribute" type="submit" value="&#x21b5;"></span>
      </FORM>
    </div>
  </div>
  {% endif %}
  {% endif %}

  <!--  If the  data has  been filtered,  display the  applied  filters in
	order, with option to adjust or remove each filter -->
  {% if mdsnode.data.filter_history %}
  <div class="portlet" id="mds-portlet-activefilters">
    <div class="portlet-header">active filters</div>
    <div class="portlet-content">
      {% show_active_filters mdsnode %}
    </div>
  </div>
  {% endif %}

  <!-- List the views (H1DS views such as html, json, etc, not django view
       functions) available for the node data type -->
  <div class="portlet" id="mds-portlet-views">
    <div class="portlet-header">views</div>
    <div class="portlet-content">
      {% for view_name in mdsnode.data.available_views %}{% show_view view_name %} {% endfor %}
    </div>
  </div>

  <div class="portlet" id="mds-portlet-savedsignals">
    <div class="portlet-header">my signals</div>
    <div class="portlet-content">
      {% if user.is_authenticated %}
      <form method="post" action="{% url "h1ds-add-user-signal" %}">{% csrf_token %}
	{{ user_signal_form.name }}
	<INPUT type="hidden" id="url" name="url" value="{% get_absolute_uri %}">
	<INPUT title="add" type="submit" value="+">
      </form>
      <div class="sidebar-section">
      {% for sig in user_signals %}
      <div class="sidebar-section-item">
	{% if sig.is_fixed_to_shot %}
	<a href="{% get_url_for_shot sig.url sig.shot %}">{{sig}}</a>[{{sig.shot}}]
	{% else %}
	<a href="{% get_url_for_shot sig.url mdsnode.shot %}">{{sig}}</a>
	{% endif %}

	<div class="sidebar-section-item-delete">
	  <FORM action="{% url "h1ds-delete-user-signal" sig.pk %}" method="post">{% csrf_token %}
	    <INPUT type="hidden" id="url" name="url" value="{% get_absolute_uri %}">
	    <INPUT title="go to shot" type="submit" value="-">
	  </FORM>
	</div>
	<div class="sidebar-section-item-edit">
	  <a href="{% url "h1ds-update-user-signal" sig.pk %}?redirect_url={% get_absolute_uri %}">edit</a>
	</div>

      </div>
      {% endfor %}
      </div>
      {% else %}
      Log in to save and restore signals.
      {% endif %}
    </div>
  </div>

  <!--  List the filters  which can  be applied  to the  (possibly already
	filtered) data -->
  <div class="portlet" id="mds-portlet-filters">
    <div class="portlet-header">filters</div>
    <div class="portlet-content">
      {% show_filters mdsnode %}
    </div>
  </div>
  
  <div class="portlet" id="mds-portlet-nodeinfo">
    <div class="portlet-header">node info</div>
    <div class="portlet-content">
      {% show_info mdsnode %}
    </div>
  </div>
</div>
{% endblock mdscontent %}
